:root {
    --color1: #e4f5fc;
    --color2: #bfe8f9;
    --color3: #9fd8ef;
    --color4: #2ab0ed;
    --color5: #87bdd8;
    --color6: #daebe8;
    --color7: #cfe0e8;
    --color8: #b7d7e8;
    --color9: #0C1D3C;
    --color10: #FF80FF;
    --color11: black;
    --color12: green;
    --color13: blue;
    --color14: white;
}

.accent1-bg {
    background: url(../images/web-development-clipart-transparent.png) no-repeat right, linear-gradient(45deg, var(--color1) 0%, var(--color2) 27%, var(--color3) 51%, var(--color4) 100%);
}
.accent2-bg {
    background-color: var(--color5);
}

.accent3-bg {
    background-color: var(--color6);
}

.accent4-bg {
    background-color: var(--color8);
}

.accent5-bg {
    background-color: var(--color7);
}

.accent6 {
    background-color: var(--color9);
    color: var(--color14);
}

.accent6-bg {
    background-color: var(--color9);
}

.white-text {
    color: var(--color14);
}

nav a:link {
    color: var(--color10);
}

/* visited link */
nav a:visited {
    color: var(--color11);
}

/* mouse over link */
nav a:hover {
    color: var(--color12);
    background-color: lightblue;
    border-color: darkblue;
}

/* selected link */
nav a:active {
    color: var(--color13);
}

footer a:link {
    color: var(--color10);
}

footer a:visited {
    color: var(--color10);
}

footer a:hover {
    color: var(--color12);
}

/* selected link */
footer a:active {
    color: var(--color13);
}